
@{
	ViewBag.Title = "Index";
}

<h2>Welcome to the Moderator Control Panel</h2>
<h3>Please make your selection:</h3>

<ul>
	<li>
		Ban User
	</li>
	<li>
		Edit/Remove Question
	</li>
	<li>
		Edit/Remove Answer
	</li>
	<li>
		Edit/Remove Comment
	</li>
</ul>
