
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Administrator Control Panel</h2>
<h3>Please make your selection:</h3>

<ul>
    <li>
        Add, edit, or delete Tags from the system
    </li>
    <li>
        Give/Revoke Moderator priviledges
    </li>
    <li>
        Ban/Unban Users
    </li>
    <li>
        Go to Moderator Control Panel
    </li>
</ul>